<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<div class="container">
  <nav class="navbar fixed-bottom flex-row justify-content-center">
    <div class="text-center">
      <a class="text-muted p-2" target="_blank" href="https://twitter.com/_yashkarthik">@_yashkarthik</a>
      <a class="text-muted p-2" href="farcaster://profiles/0x6eFe7a747E8d47E5fA2161Ff2591420830D618de">@yashkarthik</a>
      <a class="text-muted p-2" target="_blank" href="https://github.com/yashkarthik/friendcaster">Github</a>
      <a class="text-muted p-2" target="_blank" href="https://yashkarthik.xyz">Blog</a>
      <a class="text-muted p-2" href="/faq">FAQ</a>
    </div>
  </nav>
</div>
