<!DOCTYPE html>
<html lang="en" class="text-bg-dark">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container text-bg-dark">

    <header class="text-bg-dark">
      <%- include('../partials/header'); %>
    </header>

    <main class="text-bg-dark container text-center">
      <img class="text-bg-dark w-50" src='/circle.png' />
    </main>

    <footer class="text-bg-dark">
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
