<!DOCTYPE html>
<html lang="en" class="text-bg-dark">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container text-bg-dark">

    <header class="text-bg-dark">
      <%- include('../partials/header'); %>
    </header>

    <main class="text-bg-dark">
      <div class="d-flex flex-col align-items-center">
        <h1 class="text-center">Frequently Asked Questions</h1>

        <div class="vstack pt-5 justify-middle ">
          <h4>What is Friendcaster?</h4>
          <p class="text-secondary">Friendcaster generates an image that displays the users you interact with the most on Farcaster.</p>

          <h4>What is Farcaster?</h4>
          <p class="text-secondary">
            Farcaster is a sufficiently decentralized protocol that empowers developers to build novel social networks.
            Learn more on <a href="https://farcaster.xyz">farcaster.xyz</a>
          </p>

          <h4>Where does the data come from?</h4>
          <p class="text-secondary">Friendcaster uses publically available data on the Farcaster smart contract (name registry) and every user's host directory.</p>

          <h4>What counts as an interaction?</h4>
          <p class="text-secondary">
            Currently only casts replies are considered as interactions, I'm actively working to include likes, recasts, and watching in the calculations.
          </p>

          <h4>Do I need to login to my Farcaster account to use Friendcaster?</h4>
          <p class="text-warning">
            No, you do NOT need to login to your Farcaster account or give any permissions to use Friendcaster.
            Friendcascter only uses publicly available data.
          </p>

          <h4>Is this open source?</h4>
          <p>
            Yes!! Contributions are welcome!!
            <a target="_blank" href="https://github.com/yashkarthik/friendcaster">Github</a>
          </p>
        </div>

      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
